<div class="container">
<div class="my-4">
<form *ngIf="formulario !== undefined" [formGroup]="formulario">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <mat-form-field appearance="fill">
        <mat-label>Contacto</mat-label>
        <input matInput type="text" formControlName="contacto">
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <mat-form-field appearance="fill">
        <mat-label>Celular</mat-label>
        <input matInput type="number" formControlName="celular">
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <mat-form-field appearance="fill">
        <mat-label>Url</mat-label>
        <input matInput type="text" formControlName="url">
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>
    </div>
  </div>
  <button mat-flat-button color="primary">Primary</button>
</form>
</div>
</div>

