table{
  width: 100%;
}

.title1{
display: flex;
flex-direction: row;
justify-content: center;
}
.title{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  background-color: #3f51b5;
  color: white;
  padding: 15px;
  margin-top: 28px;
  margin-bottom: 28px;
  width: 400px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.save-users{
display: flex;
flex-direction: row;
justify-content: right;
}

th{
  font-size: 16px;
  font-weight: bold;
  background-color: #91B2FE;
}

tr:nth-child(odd){
  background-color: #F4F6F6;
}
input:nth-child(even){
  border: 0px solid #FFFFFF;
}

input:nth-child(odd){
  border: 2px solid #F4F6F6;
  background-color: #F4F6F6;
}
